. {
	margin: 0;
	padding: 0;
	font-family: 'poppins', sans-serif;
}

body {
	background: #333 url(idul2.jpg);
	background-attachment: fixed;
	background-blend-mode: hard-light;
	background-position: center;
	background-size: cover;
}

.container {
	position: absolute;
	top: 80px;
	left: 100px;
	right: 100px;
	bottom: 80px;
	background: url(idul2.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5),
		0 0 0 100px rgba(0, 0, 0, .1);
}

.container h3 {
	text-align: center;
	font-size: 8em;
	line-height: 0.7em;
	color: white;
	margin-top: -80px;
	margin-block-start: unset;
	margin-block-end: unset;
}

.container p {
	display: block;
	font-weight: bold;
	color: white;
	background: rgba(51, 51, 51, 0.87);
	text-align: center;
	letter-spacing: 6px;
	font-size: 2em;
}

.countdown {
	display: flex;
	margin-top: 50px;
}

.countdown div {
	position: relative;
	width: 100px;
	height: 100px;
	line-height: 100px;
	text-align: center;
	background: rgba(51, 51, 51, 0.712);
	color: #fff;
	margin: 0 15px;
	font-size: 3em;
	font-weight: 500;
}

.countdown div:before {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: rgba(255, 255, 0, 0.692);
	color: black;
	font-size: 0.35em;
	line-height: 35px;
	font-weight: 300;
}

.countdown #day:before {
	content: 'Day';
}

.countdown #hour:before {
	content: 'Hours';
}

.countdown #minute:before {
	content: 'Minutes';
}

.countdown #second:before {
	content: 'Seconds';
}
